*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#78f009;
}

header{
    background:#f10101;
    color:#fff;
    padding:25px;
    text-align:center;
}

header h1{
    font-size:2.2rem;
    margin-bottom:5px;
}

nav{
    display:flex;
    justify-content:center;
    gap:30px;
    background:#1900ff;
    padding:12px 0;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:60px 20px;
    background:white;
}

.hero h2{
    font-size:2rem;
    margin-bottom:10px;
}

section{
    padding:50px 20px;
    max-width:1000px;
    margin:auto;
}

h3{
    font-size:2rem;
    margin-bottom:20px;
    text-align:center;
}

.projects{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card h4{
    margin-bottom:10px;
}

footer{
    background:#00f5cc;
    color:#fff;
    padding:20px;
    text-align:center;
    margin-top:40px;
}

.contact{
    text-align:center;
}

.contact p{
    margin:8px 0;
}
